/* styles.module.css */
.content {
  height: 100vh;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* 画面の高さの半分を占める */
}

.logo {
  margin-bottom: 20px; /* ロゴとボタンの間隔を調整 */
}

.buttons {
  display: flex;
  /* flex-direction: column; ボタンを垂直に配置 */
  align-items: center;
}
